.button-arrow{
    background-color: #F25A70;
    box-shadow: 5px 5px 0 #000;
    cursor: pointer;
    height: 50px;
    width: 50px;
}

.button-arrow .content {
    display: none;
}

.button-arrow::before{
    box-sizing: border-box;
    display: block;
    content: '';
    border: 15px solid transparent;
    border-left: 28px solid #FFF;
    height: 15px;
    transform: translateX(8px);
    width: 15px;
}

.button-arrow.-left::before{
    transform: rotate(180deg) translateX(12px);
}

